.title {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #475467;
  margin: 0px 16px;
  margin-bottom: 12px;
}
.body {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #667085;
  margin: 16px;
}
.dailytip {
  font-style: normal;
  font-weight: 700;
  margin: 8px 0px;
}

.tipDate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fdf6f7;
  border-radius: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0px 12px;
}